<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><% if(page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
	<link rel="stylesheet" href="/css/style.css" />
	<% if (theme.rss){ %>
      <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
</head>

<body>

	<header class="header">
		<h1 class="header__title"><a href="<%- config.url %>"><%= config.title %></a></h1>
		<h2 class="header__subtitle"><%- config.subtitle %></h2>
	</header>

	<main>
		<%- body %>
	</main>

	<%- partial('footer') %>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<% if (theme.fancybox){ %>
	  <%- css('fancybox/jquery.fancybox') %>
	  <%- js('fancybox/jquery.fancybox.pack') %>
	<% } %>

</body>

</html>
