<article>
	<% if(locals.archive) { %>
		<h1><a href="/<%= page.path %>"><%= page.title %></a></h1>
	<% } else { %>
		<h1><%= page.title %></h1>
	<% } %>
	<div class="article__infos">
		<span class="article__date"><%- page.date.format(config.date_format) %></span><br />
		<% if (page.categories && page.categories.length){ %>
			<span class="article__category">
				<%- list_categories(page.categories, {
				  show_count: false,
				  class: 'article-category',
				  style: 'none',
				  separator: ' > '
				}) %>
			</span><br />
		<% } %>
		<% if (page.tags && page.tags.length){ %>
			<span class="article__tags">
			  	<%- list_tags(page.tags, {
				    show_count: false,
				    class: 'article__tag',
					style: 'none',
					separator: ' '
			  	}) %>
			</span>
		<% } %>
	</div>

	<% if (page.photos && page.photos.length){ %>
	<div class="article-gallery">
	  <div class="article-gallery-photos">
	    <% page.photos.forEach(function(photo, i){ %>
	      <a class="article-gallery-img fancybox" href="<%- url_for(photo) %>" rel="gallery_<%= page._id %>">
	        <img src="<%- url_for(photo) %>" itemprop="image">
	      </a>
	    <% }) %>
	  </div>
	</div>
	<% } %>

	<% if(page.excerpt !== '' && locals.archive) { %>
		<%- page.excerpt %>
		<p><a class="article__read-more-link" href="/<%= page.path %>"><%- theme.readMore %></a></p>
	<% } else { %>
		<%- page.content %>
	<% } %>

	<% if(!locals.archive) { %>
		<span class="different-posts"><a href="<%- url_for(page.path) %>" onclick="window.history.go(-1); return false;">⬅️ Go back </a></span>

	<% } %>

</article>
